<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @friend.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @friend.birthday %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
